<div class="container">
    <div class="row">
        <div class="col">
            <mat-card class="example-card"  *ngFor="let student of students;" >
                <mat-card-header>
                  <mat-card-title>{{student.nombre}}</mat-card-title>
                  <mat-card-subtitle>{{student.username}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{student.link}}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <ul>id: {{student.id}}</ul>
                    <ul>Nota: {{student.nota}}</ul>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</div>